# Multiples of 3 and 5

## バージョン情報

In [1]:
versioninfo()

Julia Version 1.5.2
Commit 539f3ce943 (2020-09-23 23:17 UTC)
Platform Info:
  OS: Windows (x86_64-w64-mingw32)
  CPU: AMD Ryzen 5 3500U with Radeon Vega Mobile Gfx
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-9.0.1 (ORCJIT, znver1)

## Problem 1
If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.
Find the sum of all the multiples of 3 or 5 below 1000.

> 1000 未満の 3 と 5 の倍数のすべての和を計算せよ。

## 方針またはプログラミング基礎
凝ったことをしていないのでPythonとほとんど同じように考えられる。
PythonとJuliaでプログラムを読みかえるのも大変だろうから、重複をいとわず書くことにしよう。

JuliaにはJuliaの都合があって、高速化を考えるといくつか工夫が必要だが、まずはあまり気にせず書くことにする。
### 方針1
まずは1000未満の3の倍数と5の倍数を全部作ってみる。

In [2]:
threes = Vector{Int}(undef, 0)
for i in 1:999
    if i % 3 == 0 append!(threes, i) end
end

println(threes)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [3]:
fives = Vector{Int}(undef, 0)
for i in 1:999
    if i % 5 == 0 append!(fives, i) end
end

print(fives)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100, 105, 110, 115, 120, 125, 130, 135, 140, 145, 150, 155, 160, 165, 170, 175, 180, 185, 190, 195, 200, 205, 210, 215, 220, 225, 230, 235, 240, 245, 250, 255, 260, 265, 270, 275, 280, 285, 290, 295, 300, 305, 310, 315, 320, 325, 330, 335, 340, 345, 350, 355, 360, 365, 370, 375, 380, 385, 390, 395, 400, 405, 410, 415, 420, 425, 430, 435, 440, 445, 450, 455, 460, 465, 470, 475, 480, 485, 490, 495, 500, 505, 510, 515, 520, 525, 530, 535, 540, 545, 550, 555, 560, 565, 570, 575, 580, 585, 590, 595, 600, 605, 610, 615, 620, 625, 630, 635, 640, 645, 650, 655, 660, 665, 670, 675, 680, 685, 690, 695, 700, 705, 710, 715, 720, 725, 730, 735, 740, 745, 750, 755, 760, 765, 770, 775, 780, 785, 790, 795, 800, 805, 810, 815, 820, 825, 830, 835, 840, 845, 850, 855, 860, 865, 870, 875, 880, 885, 890, 895, 900, 905, 910, 915, 920, 925, 930, 935, 940, 945, 950, 955, 960, 965, 970, 975, 980, 985, 990, 995]

このふたつのリストには重複がある。
具体的には15の倍数が重複する。
何らかの方法でこの重複を処理したい。

方法はいくつかある。
最終的には効率・速度も考えないといけないが、ここではそこまでは要求しない。

一番簡単なのはリストを一気に作る方法か？

In [4]:
numbers = Vector{Int}(undef, 0)
for i in 1:999 
    if i % 3 == 0 || i % 5 == 0 append!(numbers, i) end
end
print(numbers)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99, 100, 102, 105, 108, 110, 111, 114, 115, 117, 120, 123, 125, 126, 129, 130, 132, 135, 138, 140, 141, 144, 145, 147, 150, 153, 155, 156, 159, 160, 162, 165, 168, 170, 171, 174, 175, 177, 180, 183, 185, 186, 189, 190, 192, 195, 198, 200, 201, 204, 205, 207, 210, 213, 215, 216, 219, 220, 222, 225, 228, 230, 231, 234, 235, 237, 240, 243, 245, 246, 249, 250, 252, 255, 258, 260, 261, 264, 265, 267, 270, 273, 275, 276, 279, 280, 282, 285, 288, 290, 291, 294, 295, 297, 300, 303, 305, 306, 309, 310, 312, 315, 318, 320, 321, 324, 325, 327, 330, 333, 335, 336, 339, 340, 342, 345, 348, 350, 351, 354, 355, 357, 360, 363, 365, 366, 369, 370, 372, 375, 378, 380, 381, 384, 385, 387, 390, 393, 395, 396, 399, 400, 402, 405, 408, 410, 411, 414, 415, 417, 420, 423, 425, 426, 429, 430, 432, 435, 438, 440, 441, 444, 445, 447, 450, 453, 455, 456, 459, 460, 462, 465, 468, 470, 471, 474, 475, 477, 480, 483, 485, 486, 489, 490, 492, 495, 498, 500, 501, 504, 505, 507, 510, 513, 515, 516, 519, 520, 522, 525, 528, 530, 531, 534, 535, 537, 540, 543, 545, 546, 549, 550, 552, 555, 558, 560, 561, 564, 565, 567, 570, 573, 575, 576, 579, 580, 582, 585, 588, 590, 591, 594, 595, 597, 600, 603, 605, 606, 609, 610, 612, 615, 618, 620, 621, 624, 625, 627, 630, 633, 635, 636, 639, 640, 642, 645, 648, 650, 651, 654, 655, 657, 660, 663, 665, 666, 669, 670, 672, 675, 678, 680, 681, 684, 685, 687, 690, 693, 695, 696, 699, 700, 702, 705, 708, 710, 711, 714, 715, 717, 720, 723, 725, 726, 729, 730, 732, 735, 738, 740, 741, 744, 745, 747, 750, 753, 755, 756, 759, 760, 762, 765, 768, 770, 771, 774, 775, 777, 780, 783, 785, 786, 789, 790, 792, 795, 798, 800, 801, 804, 805, 807, 810, 813, 815, 816, 819, 820, 822, 825, 828, 830, 831, 834, 835, 837, 840, 843, 845, 846, 849, 850, 852, 855, 858, 860, 861, 864, 865, 867, 870, 873, 875, 876, 879, 880, 882, 885, 888, 890, 891, 894, 895, 897, 900, 903, 905, 906, 909, 910, 912, 915, 918, 920, 921, 924, 925, 927, 930, 933, 935, 936, 939, 940, 942, 945, 948, 950, 951, 954, 955, 957, 960, 963, 965, 966, 969, 970, 972, 975, 978, 980, 981, 984, 985, 987, 990, 993, 995, 996, 999]

あとは和を取る。

In [5]:
numbers = Vector{Int}(undef, 0)
for i in 1:999 
    if i % 3 == 0 || i % 5 == 0 append!(numbers, i) end
end
sum(numbers)

233168

これで確かに解答が得られた。
[解答1](#解答1)として別途まとめておこう。

### 方針2
引き続き効率やスピード度外視で考えよう。
今度はリストではなく集合で作ってみる。

まずは3の倍数から。

In [6]:
threes = Set{Int}()
for i in 1:999
    if i % 3 == 0 push!(threes, i) end
end
println(threes)

Set([633, 288, 306, 708, 582, 882, 249, 207, 300, 384, 201, 477, 435, 57, 876, 285, 318, 597, 690, 33, 828, 252, 114, 165, 873, 921, 96, 975, 354, 84, 738, 819, 552, 327, 489, 978, 780, 951, 930, 117, 645, 93, 534, 720, 564, 474, 513, 441, 132, 195, 447, 621, 264, 516, 231, 555, 984, 153, 855, 786, 579, 120, 822, 681, 225, 390, 213, 903, 204, 414, 21, 996, 939, 102, 180, 294, 606, 642, 162, 129, 240, 429, 966, 561, 261, 783, 840, 63, 630, 438, 501, 15, 948, 210, 957, 495, 699, 66, 462, 909, 573, 969, 150, 789, 888, 747, 90, 111, 933, 396, 717, 483, 258, 705, 543, 282, 549, 135, 492, 987, 660, 324, 801, 453, 192, 729, 858, 942, 309, 270, 450, 99, 981, 525, 141, 105, 30, 216, 339, 366, 744, 765, 9, 147, 639, 960, 348, 831, 273, 183, 522, 591, 999, 468, 693, 345, 465, 723, 648, 570, 843, 48, 702, 711, 411, 732, 81, 291, 576, 795, 378, 51, 846, 243, 177, 759, 123, 255, 312, 657, 663, 918, 405, 276, 861, 108, 924, 756, 654, 624, 144, 735, 771, 342, 900, 741, 825, 375, 78, 159, 372, 612, 459, 696, 279, 609, 387, 138, 885, 168, 585, 672, 963, 834, 906, 54, 636, 897, 171, 777, 60, 417, 750, 891, 762, 363, 426, 198, 627, 936, 912, 12, 810, 528, 189, 246, 297, 507, 471, 837, 393, 456, 600, 678, 72, 480, 879, 369, 990, 267, 360, 39, 486, 42, 798, 894, 867, 333, 675, 768, 726, 669, 774, 18, 849, 234, 69, 852, 219, 351, 336, 816, 408, 444, 651, 993, 558, 357, 45, 588, 531, 753, 126, 915, 954, 864, 927, 303, 567, 75, 228, 432, 381, 546, 87, 237, 972, 594, 510, 945, 684, 537, 3, 813, 804, 330, 615, 36, 870, 402, 504, 618, 399, 519, 666, 792, 807, 174, 540, 186, 321, 420, 6, 24, 423, 156, 222, 687, 714, 498, 315, 603, 27])

変わったのは`threes = []`ではなく`set()`とした部分。
5の倍数も同じ。

In [7]:
fives = Set{Int}()
for i in 1:999
    if i % 5 == 0 push!(fives, i) end
end
print(fives)

Set([520, 895, 215, 160, 300, 435, 905, 285, 490, 70, 625, 690, 335, 445, 165, 835, 975, 610, 880, 230, 780, 930, 645, 425, 720, 50, 80, 605, 685, 515, 195, 550, 725, 430, 555, 855, 590, 120, 225, 390, 845, 10, 180, 280, 240, 260, 980, 5, 840, 630, 15, 245, 985, 210, 495, 55, 155, 150, 95, 90, 175, 205, 705, 200, 310, 760, 815, 655, 565, 620, 265, 135, 125, 965, 130, 65, 545, 660, 970, 250, 110, 475, 450, 270, 525, 105, 30, 765, 800, 470, 960, 860, 320, 345, 465, 570, 730, 715, 100, 140, 785, 790, 560, 795, 950, 535, 255, 485, 405, 740, 830, 370, 925, 755, 365, 735, 400, 935, 900, 825, 375, 820, 700, 350, 885, 890, 235, 440, 585, 290, 650, 115, 40, 455, 60, 750, 295, 955, 810, 410, 770, 775, 575, 875, 805, 505, 695, 600, 380, 920, 480, 850, 990, 275, 360, 530, 85, 940, 170, 25, 675, 635, 995, 185, 20, 865, 355, 35, 220, 145, 460, 45, 665, 915, 385, 190, 670, 75, 595, 510, 945, 395, 325, 500, 910, 710, 330, 615, 870, 340, 680, 540, 415, 420, 580, 640, 745, 305, 315])

わざと同じ流れにしたが、はじめからリストの時と同じように`if i % 3 ==0 or i % 5 == 0`で作ってもいい。
あえて同じ流れにしたのは集合には便利な演算がありそれを紹介するため。
このデータ構造は重複があると勝手に重複を一意化してくれる。

特に和集合を作る演算があるので、それでリストの時と同じく、必要なすべての数をリストアップした`numbers`を作ってみよう。
具体的には関数`union`か`∪`演算子で和集合が作れる。

In [8]:
numbers1 = union(threes, fives)
numbers2 = ∪(threes, fives)
numbers3 = threes ∪ fives
println(numbers1 == numbers2)
println(numbers1 == numbers3)

true
true

In [9]:
sum(numbers3)

233168

これをまとめて[解答2](#解答2)にしておこう。

## コードの単純化
アルゴリズムのレベルで他にもやりようはあるだろう。
ただパッと思いつかないので、とりあえずここではいくつかコードを簡素化してみる。
いったん全てリストで対応する。

### リスト内包表記
読みやすいかどうかといった問題もあるが、一般にJuliaは`for`で書くよりもリスト内包表記で書く方が速くメモリ効率もいいとされているようなので、リスト内包表記を使ってみよう。

まずは比較用にもともとの`for`で作ったリストを準備する。

In [10]:
threes1 = Vector{Int}(undef, 0)
for i in 1:999
    if i % 3 == 0 append!(threes1, i) end
end
print(threes1)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300, 303, 306, 309, 312, 315, 318, 321, 324, 327, 330, 333, 336, 339, 342, 345, 348, 351, 354, 357, 360, 363, 366, 369, 372, 375, 378, 381, 384, 387, 390, 393, 396, 399, 402, 405, 408, 411, 414, 417, 420, 423, 426, 429, 432, 435, 438, 441, 444, 447, 450, 453, 456, 459, 462, 465, 468, 471, 474, 477, 480, 483, 486, 489, 492, 495, 498, 501, 504, 507, 510, 513, 516, 519, 522, 525, 528, 531, 534, 537, 540, 543, 546, 549, 552, 555, 558, 561, 564, 567, 570, 573, 576, 579, 582, 585, 588, 591, 594, 597, 600, 603, 606, 609, 612, 615, 618, 621, 624, 627, 630, 633, 636, 639, 642, 645, 648, 651, 654, 657, 660, 663, 666, 669, 672, 675, 678, 681, 684, 687, 690, 693, 696, 699, 702, 705, 708, 711, 714, 717, 720, 723, 726, 729, 732, 735, 738, 741, 744, 747, 750, 753, 756, 759, 762, 765, 768, 771, 774, 777, 780, 783, 786, 789, 792, 795, 798, 801, 804, 807, 810, 813, 816, 819, 822, 825, 828, 831, 834, 837, 840, 843, 846, 849, 852, 855, 858, 861, 864, 867, 870, 873, 876, 879, 882, 885, 888, 891, 894, 897, 900, 903, 906, 909, 912, 915, 918, 921, 924, 927, 930, 933, 936, 939, 942, 945, 948, 951, 954, 957, 960, 963, 966, 969, 972, 975, 978, 981, 984, 987, 990, 993, 996, 999]

In [11]:
threes2 = [i for i in 1:999 if i % 3 == 0]
print(threes1 == threes2)

true

`for`で書くと4行だったのが1行になった。
慣れていないと読みづらいのは間違いない。
あと`for`の中身が長いとそもそも書けたものではない。

In [12]:
numbers = [i for i in 1:999 if i % 3 == 0 || i % 5 == 0]
sum(numbers)

233168

本来の答え（リストの和）が欲しいだけならもっと短く書ける。

In [13]:
sum([i for i in 1:999 if i % 3 == 0 || i % 5 == 0])

233168

### 高階関数
例えば`filter`を使ってみよう。
`filter`は第一引数が関数で、第二引数に「リスト」を取る関数で、第一引数の関数の真偽に応じてリストの要素をふるいにかける（フィルターする）。

よくわからなければ具体的に挙動を見るのが早い。
例を作って確認しよう。

In [14]:
function lt5(x)
    return x < 5
end

below1000 = 1:999
lessthan5 = filter(lt5, below1000)
println(lessthan5)

[1, 2, 3, 4]

`lt5`は less than 5 の頭文字で、5より小さい数に対して`True`を返す。
そして`filter`には`True`を返してほしい関数と対象リストを渡している。

ラムダの記法以外にも、Juliaは短い関数を簡単に書く記法があるのでまずはそれを紹介しよう。

In [15]:
lt5(x) = x < 5

below1000 = 1:999
lessthan5 = filter(lt5, below1000)
println(lessthan5)

[1, 2, 3, 4]

長い関数ならともかく、関数本体が短い場合、いちいち関数を定義するのが面倒な場合がある。
そういうときはラムダを使うといい。
これも例を見た方が早い。

In [16]:
below1000 = 1:999
lessthan5 = filter(x -> x < 5, below1000)
print(lessthan5)

[1, 2, 3, 4]

これを使って解答を作ってみよう。

In [17]:
all = 1:999
numbers = filter(x -> x % 3 == 0 || x % 5 == 0, all)
sum(numbers)

233168

このくらいのコードなら、次のようにもっとシンプルにしてもいいだろう。

In [18]:
sum(filter(x -> x % 3 == 0 || x % 5 == 0, 1:999))

233168

### パイプライン演算子
F#でも便利な演算子で、処理の流れが読みやすい。
単純な標準出力で比較してみよう。

In [19]:
println([1,2,3])
[1,2,3] |> println

[1, 2, 3]
[1, 2, 3]

関数が一つだけの場合は後者の方が面倒かもしれないが、`sum(filter(x -> x % 3 == 0 || x % 5 == 0, 1:999))`くらいの長さになってくるとパイプラインが読みやすくなる（ことがある）。
試してみよう。

In [20]:
div3or5(x) = x % 3 == 0 || x % 5 == 0
[1:999;] |> x -> filter(div3or5, x) |> sum

233168

もちろん`div3or5`もラムダにできる。

In [21]:
[1:999;] |> x -> filter(n -> n % 3 == 0 || n % 5 == 0, x) |> sum

233168

## 解答

### 解答1

In [22]:
numbers = Vector{Int}(undef, 0)
for i in 1:999 
    if i % 3 == 0 || i % 5 == 0 append!(numbers, i) end
end
sum(numbers)

233168

### 解答2

In [23]:
threes = Set{Int}()
for i in 1:999
    if i % 3 == 0 push!(threes, i) end
end

fives = Set{Int}()
for i in 1:999
    if i % 5 == 0 push!(fives, i) end
end

numbers3 = threes ∪ fives
sum(numbers3)

233168

### 解答3

In [24]:
sum([i for i in 1:999 if i % 3 == 0 || i % 5 == 0])

233168

### 解答4

In [25]:
sum(filter(x -> x % 3 == 0 || x % 5 == 0, 1:999))

233168

### 解答5

In [26]:
[1:999;] |> x -> filter(n -> n % 3 == 0 || n % 5 == 0, x) |> sum

233168